
MessageBoard/.gradle/6.2.2/executionHistory/

MessageBoard/.gradle/6.2.2/fileHashes/

MessageBoard/.gradle/6.2.2/javaCompile/

MessageBoard/.gradle/buildOutputCleanup/

MessageBoard/build/classes/java/main/at/tugraz/ist/qs2021/actorsystem/

MessageBoard/build/classes/java/main/at/tugraz/ist/qs2021/messageboard/clientmessages/

MessageBoard/build/classes/java/main/at/tugraz/ist/qs2021/messageboard/dispatchermessages/

MessageBoard/build/classes/java/main/at/tugraz/ist/qs2021/messageboard/

MessageBoard/build/classes/java/test/at/tugraz/ist/qs2021/

MessageBoard/build/reports/jacoco/test/html/at.tugraz.ist.qs2021.actorsystem/

MessageBoard/build/reports/jacoco/test/html/at.tugraz.ist.qs2021.messageboard.clientmessages/

MessageBoard/build/reports/jacoco/test/html/at.tugraz.ist.qs2021.messageboard.dispatchermessages/

MessageBoard/build/reports/jacoco/test/html/at.tugraz.ist.qs2021.messageboard.messagestoremessages/

MessageBoard/build/reports/jacoco/test/html/at.tugraz.ist.qs2021.messageboard/

MessageBoard/build/reports/jacoco/test/html/

MessageBoard/build/reports/tests/test/

MessageBoard/build/test-results/test/

MessageBoard/build/jacoco/
